* {
    margin: 0;
    padding: 0;
}


/* body {
    background-image: url(img2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
} */

.nav {
    background-color: black;
    z-index: 9;
    /* padding: 10px; */
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    box-shadow: 0px 3px 60px 0px seagreen;
}

.navtop {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.logo {
    float: left;
    width: 60%;
}

.logo img {
    padding: 10px;
}

.navslide {
    float: right;
    width: 40%;
    margin-top: 30px;
}

.navslide a {
    text-decoration: none;
    margin-right: 20px;
    margin-top: 20px;
    padding-top: 20px;
    color: whitesmoke;
    font-weight: bold;
    font-family: cosmic, sans-serif;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}

.navslide a:hover {
    color: green;
    text-decoration: underline;
    transition: all 0.1s ease-in-out;
}

.main {
    background-image: url(img2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 80vh;
}

.main .maincontent {
    padding-top: 15%;
    margin-left: 10%;
    margin-right: 10%;
}

.main .maincontent h2 {
    color: rgb(29, 3, 3);
    font-size: 40px;
    font-family: cosmic, sans-serif;
    font-weight: bold;
    text-align: center;
    line-height: 20px;
}

.main .maincontent h2 span {
    font-size: 15px;
    opacity: 0.9;
    font-weight: 400px;
    line-height: 15px;
    color: black;
}

.main .maincontent .btn {
    margin-top: 50px;
}

.main .maincontent .btn a {
    text-decoration: none;
    margin: 50px;
    padding: 10px 20px;
    background-color: forestgreen;
    color: blanchedalmond;
    font-family: cosmic, sans-serif;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
    transition: 0.5s;
}

.main .maincontent .btn a:hover {
    background-color: darkkhaki;
    color: black;
    border: none;
    border-bottom: 4px solid darkgreen;
    transition: 0.5s;
}

.product h2 {
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 20px;
}

.product .prodcontainer {
    display: flex;
    margin-left: 5%;
    margin-right: 5%;
}

.product .prodcontainer .items {
    width: 33.33%;
    margin: 10px;
    height: auto;
}

.product .prodcontainer .items:hover {
    box-shadow: 0px 3px 65px 0px olivedrab;
}

.product .prodcontainer .items .itemimg {
    width: 100%;
    height: 250px;
    overflow: hidden;
}

.product .prodcontainer .items .itemimg .img {
    margin-left: 20px;
    padding-left: 10%;
}

.product .prodcontainer .items .itemcontent {
    text-align: center;
}

.product .prodcontainer .items .itemcontent h3 {
    padding: 10px;
    font-size: 25px;
    font-family: cosmic, sans-serif;
}

.product .prodcontainer .items .itemcontent p {
    padding-bottom: 15px;
    font-size: 10px;
    font-family: cosmic, sans-serif;
}

.product .prodcontainer .items .itemcontent a {
    text-decoration: none;
    margin: 50px;
    padding: 0px 20px;
    background-color: forestgreen;
    color: blanchedalmond;
    font-family: cosmic, sans-serif;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    transition: 0.5s;
}

.product .prodcontainer .items .itemcontent a:hover {
    background-color: darkkhaki;
    color: black;
    border: none;
    border-bottom: 4px solid darkgreen;
    transition: 0.5s;
}

.product .prodbtn {
    text-align: center;
    margin-top: 50px;
}

.product .prodbtn a {
    text-decoration: none;
    margin: 30px;
    padding: 5px 20px;
    background-color: forestgreen;
    color: blanchedalmond;
    font-family: cosmic, sans-serif;
    text-align: center;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    transition: 0.5s;
}

.product .prodbtn a:hover {
    background-color: darkkhaki;
    color: black;
    border: none;
    border-bottom: 4px solid darkgreen;
    transition: 0.5s;
}

.keypt {
    padding: 50px;
}

.keypt h2 {
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 10px;
}

.keypt .keycontainer {
    display: flex;
}

.keypt .keycontainer .keycontent {
    width: 40%;
    padding: 20px;
    float: left;
}

.keypt .keycontainer .keycontent li {
    margin: 10px;
    padding: 10px;
    border-left: 2px solid olivedrab;
    color: black;
    text-align: left;
    font-family: cosmic, sans-serif;
    box-shadow: 0px 3px 40px 0px rgb(69, 103, 68);
}

.keypt .keycontainer .keyimg {
    width: 900px;
    float: right;
    margin-left: 150px;
    margin-top: 50px;
}

.test {
    padding: 50px;
}

.test h2 {
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

.test .testcontainer {
    margin-right: 10%;
    margin-left: 10%;
    text-align: center;
}

.test .testcontainer .carousel-inner {
    background-color: beige;
    box-shadow: none;
}

.test .testcontainer .item {
    width: 100%;
    padding: 20px;
    background-color: olivedrab;
    box-shadow: none;
}

.test .testcontainer .item .itemimgs {
    width: 100%;
    height: 250px;
    text-align: center;
    overflow: hidden;
}

.test .testcontainer .item .itemimgs .imgs {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 30px;
}

.test .testcontainer .item .carousel-caption {
    text-align: center;
}

.test .testcontainer .item .carousel-caption h3 {
    padding: 10px;
    font-size: 25px;
    font-family: cosmic, sans-serif;
}

.test .testcontainer .item .carousel-caption p {
    padding-bottom: 15px;
    font-size: 10px;
    font-family: cosmic, sans-serif;
}

.team {
    padding: 50px;
}

.team h2 {
    color: black;
    font-size: 35px;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
}

.team .teamcontainer {
    display: flex;
}

.team .teamcontainer .teamvid {
    width: 100%;
}

.team .teamcontainer .teamvid .video {
    float: left;
    /* padding-top: 10%; */
    width: 400px;
    height: 400px;
    border: 10px solid olive;
    outline: none;
}

.team .teamcontainer .teamcontent p {
    float: right;
    width: 100%;
    padding: 20%;
    font-family: cosmic, sans-serif;
}

.feed {
    background-image: url(img93.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.feed h2 {
    color: darkgreen;
    font-size: 35px;
    text-align: center;
    padding: 50px;
    text-transform: uppercase;
}

.feed .feedform {
    text-align: center;
}

.feed .feedform form {
    padding: 20px;
}

.feed .feedform form input {
    width: 40%;
    margin: 10px;
    padding: 9px;
    outline: none;
    border: 2px solid olive;
    background-color: aquamarine;
    color: rgb(79, 79, 3);
}

.feed .feedform form textarea {
    width: 40%;
    margin: 10px;
    padding: 9px;
    outline: none;
    border: 2px solid olive;
    background-color: aquamarine;
    color: rgb(79, 79, 3);
}

.feed .feedform form button {
    width: 20%;
    margin: 10px;
    padding: 9px;
    outline: none;
    border: 2px solid olive;
    border-radius: 40%;
    background-color: aquamarine;
    color: rgb(79, 79, 3);
}

.aboutus {
    padding: 100px;
}

.aboutus h2 {
    color: darkgreen;
    font-size: 35px;
    text-align: center;
    padding: 50px;
    font-family: cosmic, sans-serif;
    text-transform: uppercase;
}

.aboutus p {
    padding: 10px;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    font-family: cosmic, sans-serif;
}

.contactcontainer {
    padding: 100px;
}

.contactcontainer h2 {
    color: darkgreen;
    font-size: 35px;
    text-align: center;
    padding: 50px;
    font-family: cosmic, sans-serif;
    text-transform: uppercase;
}

.contactcontainer .gmap {
    border: 5px solid olivedrab;
}

.contactcontainer .contactcontent {
    padding: 20px;
}

.contactcontainer .contactcontent p {
    padding: 10px;
    font-size: 13px;
    line-height: 20px;
    text-align: right;
    font-family: cosmic, sans-serif;
}

.contact-box {
    margin-top: 2%;
    width: 500px;
    background-color: olive;
    box-shadow: 0 0 10px 0 rgb(189, 212, 142);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

form {
    margin: 35px;
}

.input-field {
    width: 400px;
    height: 40px;
    margin-top: 20px;
    padding-right: 10px;
    padding-left: 10px;
    border: 1px solid #777;
    outline: none
}

.textarea-field {
    height: 150px;
    padding-top: 10px;
}

.btnl {
    color: rgb(24, 17, 17);
    padding: 10px;
    margin-top: 10px;
    background-color: greenyellow;
    border: none;
    cursor: pointer;
}

.btnl:hover {
    background-color: forestgreen;
    color: black;
}

.button {
    background-color: seagreen;
    color: black;
    width: 90px;
    height: 40px;
    border: none;
    cursor: pointer;
}

.button:hover {
    color: aqua;
    background-color: hotpink;
}

footer {
    background-color: rgb(64, 96, 0);
    padding: 50px;
}

footer .pages {
    text-align: center;
}

footer .pages h3 {
    color: goldenrod;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;
}

footer .pages a {
    text-decoration: none;
    margin: 10px;
    color: white;
    font-size: 15px;
    font-family: cosmic, sans-serif;
}

footer .pages a:hover {
    color: gold;
}

footer .doc {
    text-align: center;
}

footer .doc h3 {
    color: goldenrod;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;
}

footer .doc a {
    text-decoration: none;
    margin: 10px;
    color: white;
    font-size: 15px;
    font-family: cosmic, sans-serif;
}

footer .doc a:hover {
    color: gold;
}

footer .social {
    text-align: center;
}

footer .social h3 {
    color: goldenrod;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;
}

footer .social a {
    text-decoration: none;
    font-size: 30px;
    color: palegoldenrod;
    margin: 10px;
}

footer .social a:hover {
    color: olive;
}

footer .contact {
    text-align: center;
}

footer .contact h3 {
    color: goldenrod;
    font-size: 20px;
    font-family: cosmic, sans-serif;
    padding: 5px;
}

footer .contact a {
    text-decoration: none;
    font-size: 30px;
    color: palegoldenrod;
    margin: 10px;
}

footer .contact a:hover {
    color: olive;
}